{% extends 'base.html' %}

{% block head %}
<title>About SUHAS</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
{% endblock %}

{% block body %}
            <div class=" d-flex align-items-center justify-content-center " id="p1">
            <div class="jumbotron transparency">
              <h1 class="display-4">Hello, It's me Suhas !</h1>
              <p class="lead">This is my Personel Blog created using Python Flask,HTML5,CSS & Bootstrap.</p>
                <br>
              <p>The button below will redirect you to a page where you can look at my reviews or you can write review about me.</p>
              <p class="lead">
                  <br>
                <a class="btn btn-primary btn-lg" id="btnhome" href="/users" role="button">Reviews</a>
              </p>
                </div>
            </div>

<div class="container-fluid box2 d-flex flex-row" id="p2">
    <div class="box2__image col-sm-4"></div>
             <div class="jumbotron transparency col-sm-7" id="p2__text">
              <h2 class="display-4">Ahhh! How can I forget my Love !</h2>
              <p class="lead">I remove stress from my life by twisting the throttle.</p>
                <br>
                </div>
            </div>
 </div>

<div id="p3">

<h2>Adventure!</h2>

</div>


<div id="p4">




<a href="" id="b3"><span></span><span></span><span></span><span></span>Facebook</a>
<a href="" id="b3"><span></span><span></span><span></span><span></span>Instagram</a>
    <a href="" id="b3"><span></span><span></span><span></span><span></span>Github</a>
</div>






<script src="/static/js/main.js"></script>
{% endblock %}